## Importing Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/vanessanunezpenas/Documents/Data Analysis Projects/Airbnb Berlin Ratings/2. Data'

In [3]:
berlin_airbnb = pd.read_csv(os.path.join(path,'Original',"Airbnb_Berlin.csv"))

/tmp/ipykernel_75603/1626207348.py:1: DtypeWarning: Columns (19,32) have mixed types. Specify dtype option on import or set low_memory=False.
  berlin_airbnb = pd.read_csv(os.path.join(path,'Original',"Airbnb_Berlin.csv"))

In [4]:
berlin_airbnb.head()

,index,Review ID,review_date,Reviewer ID,Reviewer Name,Comments,Listing ID,Listing URL,Listing Name,Host ID,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
0,0,58660447.0,01-03-16,14876562.0,Dennis,"Very nice, clean appartement! Josh was really ...",10002699,https://www.airbnb.com/rooms/10002699,Trendy and peaceful KreuzkÃ¶lln,44696672,...,01-03-16,100.0,8.0,10.0,6.0,10.0,10.0,10.0,f,f
1,1,NaN,NaN,NaN,NaN,NaN,10002922,https://www.airbnb.com/rooms/10002922,Sehr zentrale Wohnung in Berlin,45848709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
2,2,58663795.0,01-03-16,49367757.0,Andreea,Aki is really nice and friendly. We had an ama...,10006647,https://www.airbnb.com/rooms/10006647,Very central and very quite,40791092,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f
3,3,59003619.0,01-05-16,46694292.0,Sasha,Aki is a very nice dude with a clean place in ...,10006647,https://www.airbnb.com/rooms/10006647,Very central and very quite,40791092,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f
4,4,66845661.0,03-25-16,54542819.0,Yohana,Aki's place was easy to find and located in th...,10006647,https://www.airbnb.com/rooms/10006647,Very central and very quite,40791092,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f

In [5]:
berlin_airbnb.shape

(456961, 47)

## Exploring the data

In [6]:
berlin_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456961 entries, 0 to 456960
Data columns (total 47 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   index                  456961 non-null  int64
 1   Review ID              452805 non-null  float64
 2   review_date            452805 non-null  object
 3   Reviewer ID            452805 non-null  float64
 4   Reviewer Name          452805 non-null  object
 5   Comments               452595 non-null  object
 6   Listing ID             456961 non-null  int64
 7   Listing URL            456961 non-null  object
 8   Listing Name           456756 non-null  object
 9   Host ID                456961 non-null  int64
 10  Host URL               456961 non-null  object
 11  Host Name              456913 non-null  object
 12  Host Since             456913 non-null  object
 13  Host Response Time     398194 non-null  object
 14  Host Response Rate     398194 non-null  object
 15  Is Superhost           456913 non-null  object
 16  neighbourhood          456961 non-null  object
 17  Neighborhood Group     456961 non-null  object
 18  City                   456928 non-null  object
 19  Postal Code            449258 non-null  object
 20  Country Code           456961 non-null  object
 21  Country                456961 non-null  object
 22  Latitude               456961 non-null  float64
 23  Longitude              456961 non-null  float64
 24  Is Exact Location      456961 non-null  object
 25  Property Type          456961 non-null  object
 26  Room Type              456961 non-null  object
 27  Accomodates            456961 non-null  int64
 28  Bathrooms              456018 non-null  float64
 29  Bedrooms               456244 non-null  float64
 30  Beds                   456871 non-null  float64
 31  Square Feet            28675 non-null   float64
 32  Price                  456961 non-null  object
 33  Guests Included        456961 non-null  int64
 34  Min Nights             456961 non-null  int64
 35  Reviews                456961 non-null  int64
 36  First Review           452805 non-null  object
 37  Last Review            452805 non-null  object
 38  Overall Rating         452242 non-null  float64
 39  Accuracy Rating        452209 non-null  float64
 40  Cleanliness Rating     452211 non-null  float64
 41  Checkin Rating         452188 non-null  float64
 42  Communication Rating   452205 non-null  float64
 43  Location Rating        452186 non-null  float64
 44  Value Rating           452185 non-null  float64
 45  Instant Bookable       456961 non-null  object
 46  Business Travel Ready  456961 non-null  object
dtypes: float64(15), int64(7), object(25)
memory usage: 163.9+ MB

In [7]:
berlin_airbnb['Country Code'].value_counts(dropna = False)

Country Code
DE    456959
GB         1
NL         1
Name: count, dtype: int64

In [8]:
berlin_airbnb['Country'].value_counts(dropna = False)

Country
Germany           456959
United Kingdom         1
Netherlands            1
Name: count, dtype: int64

In [9]:
UK_NL = berlin_airbnb.loc[(berlin_airbnb['Country'] == 'United Kingdom') &
                 (berlin_airbnb['Country'] == 'Netherlands')]
UK_NL

Empty DataFrame
Columns: [index, Review ID, review_date, Reviewer ID, Reviewer Name, Comments, Listing ID, Listing URL, Listing Name, Host ID, Host URL, Host Name, Host Since, Host Response Time, Host Response Rate, Is Superhost, neighbourhood, Neighborhood Group, City, Postal Code, Country Code, Country, Latitude, Longitude, Is Exact Location, Property Type, Room Type, Accomodates, Bathrooms, Bedrooms, Beds, Square Feet, Price, Guests Included, Min Nights, Reviews, First Review, Last Review, Overall Rating, Accuracy Rating, Cleanliness Rating, Checkin Rating, Communication Rating, Location Rating, Value Rating, Instant Bookable, Business Travel Ready]
Index: []

[0 rows x 47 columns]

In [10]:
UK_NL_Code = berlin_airbnb.loc[(berlin_airbnb['Country Code'] == 'GB') &
                 (berlin_airbnb['Country Code'] == 'NL')]
UK_NL_Code

Empty DataFrame
Columns: [index, Review ID, review_date, Reviewer ID, Reviewer Name, Comments, Listing ID, Listing URL, Listing Name, Host ID, Host URL, Host Name, Host Since, Host Response Time, Host Response Rate, Is Superhost, neighbourhood, Neighborhood Group, City, Postal Code, Country Code, Country, Latitude, Longitude, Is Exact Location, Property Type, Room Type, Accomodates, Bathrooms, Bedrooms, Beds, Square Feet, Price, Guests Included, Min Nights, Reviews, First Review, Last Review, Overall Rating, Accuracy Rating, Cleanliness Rating, Checkin Rating, Communication Rating, Location Rating, Value Rating, Instant Bookable, Business Travel Ready]
Index: []

[0 rows x 47 columns]

In [11]:
berlin_airbnb['Neighborhood Group'].value_counts(dropna = False)

Neighborhood Group
Mitte                       117765
Friedrichshain-Kreuzberg    106925
Pankow                       80822
NeukÃ¶lln                    51466
Charlottenburg-Wilm.         32831
Tempelhof - SchÃ¶neberg      29875
Lichtenberg                  11398
Treptow - KÃ¶penick           9105
Steglitz - Zehlendorf         6717
Reinickendorf                 5571
Marzahn - Hellersdorf         2740
Spandau                       1746
Name: count, dtype: int64

In [12]:
berlin_airbnb['neighbourhood'].value_counts(dropna = False)

neighbourhood
Prenzlauer Berg              70975
Mitte                        70591
Kreuzberg                    58689
NeukÃ¶lln                    48938
Friedrichshain               48045
                             ...
Stadtrandsiedlung Malchow       44
Rosenthal                       26
KonradshÃ¶he                    12
Wartenberg                       5
Blankenfelde                     1
Name: count, Length: 93, dtype: int64

In [13]:
berlin_airbnb['City'].value_counts(dropna = False)

City
Berlin                                 454248
Berlin (Kreuzberg)                        375
Berlin-Wilmersdorf                        227
Berlin-Mitte                              212
Berlin - Mitte                            177
KÃ¶penick                                 171
Berlin, friedrichshain                    165
Prenzlauer Berg                           137
Wannsee                                   120
Friedrichshain                            115
Berlin-Treptow                            111
Kleinmachnow                               87
Berlin- Charlottenburg                     71
Baseler StraÃe 91 A,12205 Berlin          64
Berlin - SchÃ¶neberg                       60
Baseler StraÃe 91 A, 12205 Berlin         55
Mitte                                      53
.                                          47
10999 Berlin                               47
Woltersdorf                                41
NaN                                        33
Berlin/Steglitz                            33
Mitte/Kreuzberg                            31
Berlin, Berlin, DE                         24
Erkner                                     20
Hoppegarten                                16
Berlin Prenzlauer Berg                     16
berlin                                     16
Berlin / Kleinmachnow                      16
ÐÐµÑÐ»Ð¸Ð½                               15
SchÃ¶neberg                                13
Berlin, Charlottenburg                     12
Weissensee, Berlin                         11
Berlin Friedrichshain                      11
Berlim                                     11
Berlino                                    11
Berlin-Tiergarten                           9
Kreuzberg, Berlin                           8
*                                           8
Weissensee                                  8
BerlÃ­n                                     8
Mitte/Tiergarten                            7
Berlin NeukÃ¶lln                            6
Berlin-Kreuzberg                            5
Wilmersdorf                                 4
Berlin-Friedrichshain                       4
Potsdam                                     3
Berlin-Wedding                              3
Berlin (Wedding)                            2
Berlin-NeukÃ¶lln                            2
ÎÎµÏÎ¿Î»Î¯Î½Î¿                            2
Hennigsdorf                                 2
Berlin-Zehlendorf                           1
Zeuthen                                     1
ææ                                      1
Berlin Mitte                                1
Berlin, SchÃ¶neberg                         1
Charlottenburg                              1
MÃ¼hlenbecker Land                          1
Eichwalde                                   1
Name: count, dtype: int64

In [14]:
berlin_airbnb['Postal Code'].value_counts(dropna = False)

Postal Code
10115.0    19571
10405.0    15342
10119.0    14206
10437.0    13441
10247.0    12885
           ...
16341          1
16552          1
12687          1
13629          1
13597          1
Name: count, Length: 397, dtype: int64

In [15]:
berlin_airbnb.describe()

,index,Review ID,Reviewer ID,Listing ID,Host ID,Latitude,Longitude,Accomodates,Bathrooms,Bedrooms,...,Guests Included,Min Nights,Reviews,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating
count,456961.000000,4.528050e+05,4.528050e+05,4.569610e+05,4.569610e+05,456961.000000,456961.000000,456961.000000,456018.000000,456244.000000,...,456961.000000,456961.000000,456961.000000,452242.000000,452209.000000,452211.000000,452188.000000,452205.000000,452186.000000,452185.000000
mean,228480.000000,2.210771e+08,6.741881e+07,1.172870e+07,4.225116e+07,52.512460,13.403450,3.102133,1.099039,1.216042,...,1.571178,4.945792,102.961113,94.569752,9.769029,9.502785,9.805570,9.806583,9.639045,9.426746
std,131913.422517,1.298566e+08,6.445677e+07,9.105569e+06,5.475489e+07,0.028892,0.055173,1.928835,0.337697,0.720500,...,1.076073,16.146465,96.637273,4.399786,0.473212,0.682148,0.438024,0.442631,0.528235,0.576970
min,0.000000,4.283000e+03,5.000000e+00,2.695000e+03,1.581000e+03,52.345800,13.097180,1.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,114240.000000,1.084257e+08,1.570784e+07,3.187735e+06,4.097958e+06,52.493450,13.376740,2.000000,1.000000,1.000000,...,1.000000,1.000000,28.000000,92.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000
50%,228480.000000,2.204285e+08,4.332366e+07,1.080061e+07,1.860098e+07,52.512880,13.411990,2.000000,1.000000,1.000000,...,1.000000,2.000000,75.000000,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000
75%,342720.000000,3.276229e+08,1.060161e+08,1.873384e+07,5.751183e+07,52.532390,13.434080,4.000000,1.000000,1.000000,...,2.000000,3.000000,149.000000,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,456960.000000,4.528262e+08,2.614011e+08,3.468232e+07,2.616142e+08,52.651670,13.757640,16.000000,8.500000,10.000000,...,16.000000,1000.000000,545.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

## Data Cleaning

### Dropping irrelevant columns for our analysis

In [16]:
berlin_airbnb = berlin_airbnb.drop(columns = ['index',
                             'Reviewer Name',
                             'Listing URL',
                             'Listing Name',
                             'Host URL',
                             'Host Name',
                             'neighbourhood',
                             'City',
                             'Country Code',
                             'Country'])

### Renaming columns

In [17]:
berlin_airbnb.rename(columns = {'review_date': 'Review Date'}, inplace=True)

In [18]:
berlin_airbnb.rename(columns = {'Accomodates': 'Accommodates'}, inplace=True)

### Missing Values

In [19]:
berlin_airbnb.isnull().sum()

Review ID                  4156
Review Date                4156
Reviewer ID                4156
Comments                   4366
Listing ID                    0
Host ID                       0
Host Since                   48
Host Response Time        58767
Host Response Rate        58767
Is Superhost                 48
Neighborhood Group            0
Postal Code                7703
Latitude                      0
Longitude                     0
Is Exact Location             0
Property Type                 0
Room Type                     0
Accommodates                  0
Bathrooms                   943
Bedrooms                    717
Beds                         90
Square Feet              428286
Price                         0
Guests Included               0
Min Nights                    0
Reviews                       0
First Review               4156
Last Review                4156
Overall Rating             4719
Accuracy Rating            4752
Cleanliness Rating         4750
Checkin Rating             4773
Communication Rating       4756
Location Rating            4775
Value Rating               4776
Instant Bookable              0
Business Travel Ready         0
dtype: int64

In [20]:
# Subset containing only the missing values

df_nan = berlin_airbnb[berlin_airbnb['Value Rating'].isnull() == True]
df_nan

,Review ID,Review Date,Reviewer ID,Comments,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
1,NaN,NaN,NaN,NaN,10002922,45848709,10-05-15,NaN,NaN,f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
28,NaN,NaN,NaN,NaN,10008072,51404370,12-15-15,NaN,NaN,f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
72,57860388.0,12-29-15,28831125.0,The host canceled this reservation the day bef...,10015667,14847265,04-28-14,NaN,NaN,f,...,12-29-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
73,NaN,NaN,NaN,NaN,10016384,17464606,06-30-14,NaN,NaN,f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
74,NaN,NaN,NaN,NaN,10016747,51438995,12-15-15,NaN,NaN,f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456573,NaN,NaN,NaN,NaN,9987404,43047137,08-31-15,NaN,NaN,f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
456575,NaN,NaN,NaN,NaN,9988919,51322446,12-14-15,NaN,NaN,f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
456582,84088774.0,07-05-16,21995036.0,The host canceled this reservation 27 days bef...,9991497,44816934,09-22-15,NaN,NaN,f,...,07-05-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
456583,84088775.0,07-05-16,38561403.0,The host canceled this reservation 32 days bef...,9991497,44816934,09-22-15,NaN,NaN,f,...,07-05-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
456584,84088776.0,07-05-16,34517681.0,The host canceled this reservation 37 days bef...,9991497,44816934,09-22-15,NaN,NaN,f,...,07-05-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f

In [21]:
# Create a new df without the missing values

berlin_airbnb_clean = berlin_airbnb[berlin_airbnb['Value Rating'].isnull() == False]

In [22]:
berlin_airbnb_clean.shape

(452185, 37)

In [23]:
# Deleting the column 'Square Feet' because is empty in 94%

berlin_airbnb_clean = berlin_airbnb_clean.drop(columns = ['Square Feet'])

In [24]:
# Checking again Missing Values

berlin_airbnb_clean.isnull().sum()

Review ID                    2
Review Date                  2
Reviewer ID                  2
Comments                   212
Listing ID                   0
Host ID                      0
Host Since                  36
Host Response Time       55516
Host Response Rate       55516
Is Superhost                36
Neighborhood Group           0
Postal Code               7568
Latitude                     0
Longitude                    0
Is Exact Location            0
Property Type                0
Room Type                    0
Accommodates                 0
Bathrooms                  936
Bedrooms                   709
Beds                        71
Price                        0
Guests Included              0
Min Nights                   0
Reviews                      0
First Review                 2
Last Review                  2
Overall Rating               1
Accuracy Rating              8
Cleanliness Rating          14
Checkin Rating               8
Communication Rating         8
Location Rating              9
Value Rating                 0
Instant Bookable             0
Business Travel Ready        0
dtype: int64

In [25]:
# New subset containing only the missing values

df_nan2 = berlin_airbnb_clean[berlin_airbnb_clean['Review ID'].isnull() == True]
df_nan2

,Review ID,Review Date,Reviewer ID,Comments,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
150726,NaN,NaN,NaN,NaN,18427735,19620521,08-07-14,within a few hours,100%,f,...,NaN,100.0,8.0,10.0,10.0,10.0,10.0,8.0,f,f
425574,NaN,NaN,NaN,NaN,8228261,30639024,04-05-15,NaN,NaN,f,...,NaN,100.0,10.0,10.0,10.0,8.0,10.0,10.0,f,f

In [26]:
# Create a new df without the missing values

berlin_airbnb_clean = berlin_airbnb_clean[berlin_airbnb_clean['Review ID'].isnull() == False]

In [27]:
# Impute missing values in rating columns with median

berlin_airbnb_clean['Overall Rating'].fillna(berlin_airbnb_clean['Overall Rating'].median(),inplace=True)
berlin_airbnb_clean['Accuracy Rating'].fillna(berlin_airbnb_clean['Accuracy Rating'].median(),inplace=True)
berlin_airbnb_clean['Cleanliness Rating'].fillna(berlin_airbnb_clean['Cleanliness Rating'].median(),inplace=True)
berlin_airbnb_clean['Checkin Rating'].fillna(berlin_airbnb_clean['Checkin Rating'].median(),inplace=True)
berlin_airbnb_clean['Communication Rating'].fillna(berlin_airbnb_clean['Communication Rating'].median(),inplace=True)
berlin_airbnb_clean['Location Rating'].fillna(berlin_airbnb_clean['Location Rating'].median(),inplace=True)

In [28]:
# Checking again Missing Values

berlin_airbnb_clean.isnull().sum()

Review ID                    0
Review Date                  0
Reviewer ID                  0
Comments                   210
Listing ID                   0
Host ID                      0
Host Since                  36
Host Response Time       55515
Host Response Rate       55515
Is Superhost                36
Neighborhood Group           0
Postal Code               7568
Latitude                     0
Longitude                    0
Is Exact Location            0
Property Type                0
Room Type                    0
Accommodates                 0
Bathrooms                  936
Bedrooms                   709
Beds                        71
Price                        0
Guests Included              0
Min Nights                   0
Reviews                      0
First Review                 0
Last Review                  0
Overall Rating               0
Accuracy Rating              0
Cleanliness Rating           0
Checkin Rating               0
Communication Rating         0
Location Rating              0
Value Rating                 0
Instant Bookable             0
Business Travel Ready        0
dtype: int64

### Changing Data Types

In [29]:
# Changing ID columns Data Type to string

berlin_airbnb_clean['Review ID'] = berlin_airbnb_clean['Review ID'].astype(str)

In [30]:
berlin_airbnb_clean['Reviewer ID'] = berlin_airbnb_clean['Reviewer ID'].astype(str)

In [31]:
berlin_airbnb_clean['Listing ID'] = berlin_airbnb_clean['Listing ID'].astype(str)

In [32]:
berlin_airbnb_clean['Host ID'] = berlin_airbnb_clean['Host ID'].astype(str)

In [33]:
berlin_airbnb_clean.head()

,Review ID,Review Date,Reviewer ID,Comments,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
0,58660447.0,01-03-16,14876562.0,"Very nice, clean appartement! Josh was really ...",10002699,44696672,09-20-15,NaN,NaN,f,...,01-03-16,100.0,8.0,10.0,6.0,10.0,10.0,10.0,f,f
2,58663795.0,01-03-16,49367757.0,Aki is really nice and friendly. We had an ama...,10006647,40791092,08-07-15,within a few hours,100%,f,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f
3,59003619.0,01-05-16,46694292.0,Aki is a very nice dude with a clean place in ...,10006647,40791092,08-07-15,within a few hours,100%,f,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f
4,66845661.0,03-25-16,54542819.0,Aki's place was easy to find and located in th...,10006647,40791092,08-07-15,within a few hours,100%,f,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f
5,67969785.0,04-01-16,35352843.0,We had to wait 30mins for Aki to arrive but ot...,10006647,40791092,08-07-15,within a few hours,100%,f,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f

In [34]:
# Split values at decimal point in 'Review ID' and 'Reviewer ID'

berlin_airbnb_clean['Review ID'] = berlin_airbnb_clean['Review ID'].str.split('.').str[0]

In [35]:
berlin_airbnb_clean['Reviewer ID'] = berlin_airbnb_clean['Reviewer ID'].str.split('.').str[0]

In [36]:
berlin_airbnb_clean.head()

,Review ID,Review Date,Reviewer ID,Comments,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
0,58660447,01-03-16,14876562,"Very nice, clean appartement! Josh was really ...",10002699,44696672,09-20-15,NaN,NaN,f,...,01-03-16,100.0,8.0,10.0,6.0,10.0,10.0,10.0,f,f
2,58663795,01-03-16,49367757,Aki is really nice and friendly. We had an ama...,10006647,40791092,08-07-15,within a few hours,100%,f,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f
3,59003619,01-05-16,46694292,Aki is a very nice dude with a clean place in ...,10006647,40791092,08-07-15,within a few hours,100%,f,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f
4,66845661,03-25-16,54542819,Aki's place was easy to find and located in th...,10006647,40791092,08-07-15,within a few hours,100%,f,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f
5,67969785,04-01-16,35352843,We had to wait 30mins for Aki to arrive but ot...,10006647,40791092,08-07-15,within a few hours,100%,f,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f

In [37]:
berlin_airbnb_clean['Price']

0           60.0
2           35.0
3           35.0
4           35.0
5           35.0
           ...
456956    150.00
456957    150.00
456958     80.00
456959     80.00
456960     80.00
Name: Price, Length: 452183, dtype: object

In [38]:
berlin_airbnb_clean['Price'].dtype

dtype('O')

In [39]:
berlin_airbnb_clean['Price'] = berlin_airbnb_clean['Price'].astype(str)

In [40]:
berlin_airbnb_clean['Price'] = berlin_airbnb_clean['Price'].str.replace(',', '').astype(float, "{:.1f}")

In [41]:
berlin_airbnb_clean['Price']

0          60.0
2          35.0
3          35.0
4          35.0
5          35.0
          ...
456956    150.0
456957    150.0
456958     80.0
456959     80.0
456960     80.0
Name: Price, Length: 452183, dtype: float64

In [42]:
berlin_airbnb_clean['Price'].isnull().sum()

0

In [43]:
# Checking mixed-type data in same column

for col in berlin_airbnb_clean.columns.tolist():
  weird = (berlin_airbnb_clean[[col]].applymap(type) != berlin_airbnb_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (berlin_airbnb_clean[weird]) > 0:
    print (col)

Comments
Host Since
Host Response Time
Host Response Rate
Is Superhost
Postal Code

In [44]:
berlin_airbnb_clean['Host Since'] = pd.to_datetime(berlin_airbnb_clean['Host Since'], format='%m-%d-%y')

In [45]:
berlin_airbnb_clean['Host Response Time'] = berlin_airbnb_clean['Host Response Time'].astype(str)

In [46]:
berlin_airbnb_clean['Host Response Rate'] = berlin_airbnb_clean['Host Response Rate'].astype(str)

In [47]:
berlin_airbnb_clean['Host Response Rate'] = berlin_airbnb_clean['Host Response Rate'].str.rstrip("%").astype(float)/100

In [48]:
berlin_airbnb_clean['Comments'] = berlin_airbnb_clean['Comments'].astype(str)

In [49]:
berlin_airbnb_clean['Postal Code'] = berlin_airbnb_clean['Postal Code'].astype(str)

In [50]:
berlin_airbnb_clean['Postal Code'] = berlin_airbnb_clean['Postal Code'].str.split('.').str[0]

In [51]:
# 2nd Checking mixed-type data in same column

for col in berlin_airbnb_clean.columns.tolist():
  weird = (berlin_airbnb_clean[[col]].applymap(type) != berlin_airbnb_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (berlin_airbnb_clean[weird]) > 0:
    print (col)

Host Since
Is Superhost

In [52]:
berlin_airbnb_clean['Is Superhost'].dtype

dtype('O')

In [53]:
berlin_airbnb_clean['Is Superhost']

0         f
2         f
3         f
4         f
5         f
         ..
456956    f
456957    f
456958    f
456959    f
456960    f
Name: Is Superhost, Length: 452183, dtype: object

In [54]:
berlin_airbnb_clean['Is Superhost'].value_counts(dropna = False)

Is Superhost
f      262489
t      189658
NaN        36
Name: count, dtype: int64

In [55]:
# Before converting the column that should be boolean, I have mapped the values t/f

berlin_airbnb_clean['Is Superhost'] = berlin_airbnb_clean['Is Superhost'].map({'t': True, 'f': False})

In [56]:
berlin_airbnb_clean['Is Superhost'] = berlin_airbnb_clean['Is Superhost'].astype(bool)

In [57]:
berlin_airbnb_clean['Is Exact Location'] = berlin_airbnb_clean['Is Exact Location'].map({'t': True, 'f': False})

In [58]:
berlin_airbnb_clean['Is Exact Location'] = berlin_airbnb_clean['Is Exact Location'].astype(bool)

In [59]:
berlin_airbnb_clean['Instant Bookable'] = berlin_airbnb_clean['Instant Bookable'].map({'t': True, 'f': False})

In [60]:
berlin_airbnb_clean['Instant Bookable'] = berlin_airbnb_clean['Instant Bookable'].astype(bool)

In [61]:
berlin_airbnb_clean['Business Travel Ready'] = berlin_airbnb_clean['Business Travel Ready'].map({'t': True, 'f': False})

In [62]:
berlin_airbnb_clean['Business Travel Ready'] = berlin_airbnb_clean['Business Travel Ready'].astype(bool)

In [63]:
# 3nd Checking mixed-type data in same column

for col in berlin_airbnb_clean.columns.tolist():
  weird = (berlin_airbnb_clean[[col]].applymap(type) != berlin_airbnb_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (berlin_airbnb_clean[weird]) > 0:
    print (col)

Host Since

In [64]:
berlin_airbnb_clean['Host Since'].dtype

dtype('<M8[ns]')

In [65]:
berlin_airbnb_clean['Review Date'].dtype

dtype('O')

In [66]:
berlin_airbnb_clean['Review Date'] = pd.to_datetime(berlin_airbnb_clean['Review Date'], format='%m-%d-%y')

In [67]:
berlin_airbnb_clean['Review Date'].dtype

dtype('<M8[ns]')

In [68]:
berlin_airbnb_clean['First Review'].dtype

dtype('O')

In [69]:
berlin_airbnb_clean['First Review'] = pd.to_datetime(berlin_airbnb_clean['First Review'], format='%m-%d-%y')

In [70]:
berlin_airbnb_clean['Last Review'] = pd.to_datetime(berlin_airbnb_clean['Last Review'], format='%m-%d-%y')

### Finding duplicates

In [71]:
df_dups = berlin_airbnb_clean[berlin_airbnb_clean.duplicated()]
df_dups

Empty DataFrame
Columns: [Review ID, Review Date, Reviewer ID, Comments, Listing ID, Host ID, Host Since, Host Response Time, Host Response Rate, Is Superhost, Neighborhood Group, Postal Code, Latitude, Longitude, Is Exact Location, Property Type, Room Type, Accommodates, Bathrooms, Bedrooms, Beds, Price, Guests Included, Min Nights, Reviews, First Review, Last Review, Overall Rating, Accuracy Rating, Cleanliness Rating, Checkin Rating, Communication Rating, Location Rating, Value Rating, Instant Bookable, Business Travel Ready]
Index: []

[0 rows x 36 columns]

### Subsetting

In [72]:
# Subsetting the column 'Comments'

berlin_airbnb_comments = berlin_airbnb_clean[['Review ID', 'Review Date', 'Comments', 'Listing ID', 'Host ID']]

In [73]:
berlin_airbnb_comments.head()

,Review ID,Review Date,Comments,Listing ID,Host ID
0,58660447,2016-01-03,"Very nice, clean appartement! Josh was really ...",10002699,44696672
2,58663795,2016-01-03,Aki is really nice and friendly. We had an ama...,10006647,40791092
3,59003619,2016-01-05,Aki is a very nice dude with a clean place in ...,10006647,40791092
4,66845661,2016-03-25,Aki's place was easy to find and located in th...,10006647,40791092
5,67969785,2016-04-01,We had to wait 30mins for Aki to arrive but ot...,10006647,40791092

In [74]:
# Deleting the column 'Comments'

berlin_airbnb_clean = berlin_airbnb_clean.drop(columns = ['Comments'])

In [75]:
berlin_airbnb_clean.head()

,Review ID,Review Date,Reviewer ID,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,Neighborhood Group,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
0,58660447,2016-01-03,14876562,10002699,44696672,2015-09-20,nan,NaN,False,NeukÃ¶lln,...,2016-01-03,100.0,8.0,10.0,6.0,10.0,10.0,10.0,False,False
2,58663795,2016-01-03,49367757,10006647,40791092,2015-08-07,within a few hours,1.0,False,Mitte,...,2017-02-12,92.0,9.0,8.0,9.0,10.0,10.0,9.0,False,False
3,59003619,2016-01-05,46694292,10006647,40791092,2015-08-07,within a few hours,1.0,False,Mitte,...,2017-02-12,92.0,9.0,8.0,9.0,10.0,10.0,9.0,False,False
4,66845661,2016-03-25,54542819,10006647,40791092,2015-08-07,within a few hours,1.0,False,Mitte,...,2017-02-12,92.0,9.0,8.0,9.0,10.0,10.0,9.0,False,False
5,67969785,2016-04-01,35352843,10006647,40791092,2015-08-07,within a few hours,1.0,False,Mitte,...,2017-02-12,92.0,9.0,8.0,9.0,10.0,10.0,9.0,False,False

### Other checkings

In [76]:
berlin_airbnb_clean['Host Response Time'].value_counts(dropna = False)

Host Response Time
within an hour        274710
within a few hours     71803
nan                    55515
within a day           44481
a few days or more      5674
Name: count, dtype: int64

In [77]:
berlin_airbnb_clean['Host Response Rate'].value_counts(dropna = False)

Host Response Rate
1.00    311675
NaN      55515
0.90     16949
0.80      7576
0.99      5488
         ...
0.54        15
0.55        14
0.17        13
0.27         7
0.47         1
Name: count, Length: 73, dtype: int64

In [78]:
# Correct false characters in 'Neighborhood Group'

berlin_airbnb_clean['Neighborhood Group'] = berlin_airbnb_clean['Neighborhood Group'].str.replace('NeukÃ¶lln', 'Neukölln')

In [79]:
berlin_airbnb_clean['Neighborhood Group'] = berlin_airbnb_clean['Neighborhood Group'].str.replace('Tempelhof - SchÃ¶neberg', 'Tempelhof - Schöneberg')

In [80]:
berlin_airbnb_clean['Neighborhood Group'] = berlin_airbnb_clean['Neighborhood Group'].str.replace('Treptow - KÃ¶penick', 'Treptow - Köpenick')

In [81]:
berlin_airbnb_clean['Neighborhood Group'].value_counts(dropna = False)

Neighborhood Group
Mitte                       116826
Friedrichshain-Kreuzberg    105822
Pankow                       80126
Neukölln                     50748
Charlottenburg-Wilm.         32428
Tempelhof - Schöneberg       29551
Lichtenberg                  11212
Treptow - Köpenick            8954
Steglitz - Zehlendorf         6604
Reinickendorf                 5500
Marzahn - Hellersdorf         2700
Spandau                       1712
Name: count, dtype: int64

## Descriptive statistical analysis

In [82]:
berlin_airbnb_clean.describe()

,Review Date,Host Since,Host Response Rate,Latitude,Longitude,Accommodates,Bathrooms,Bedrooms,Beds,Price,...,Reviews,First Review,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating
count,452183,452147,396668.000000,452183.000000,452183.000000,452183.000000,451247.000000,451474.000000,452112.000000,452183.000000,...,452183.000000,452183,452183,452183.000000,452183.000000,452183.000000,452183.000000,452183.000000,452183.000000,452183.000000
mean,2017-08-18 19:16:30.674129664,2014-07-21 11:22:10.157670144,0.959093,52.512495,13.403432,3.108907,1.099069,1.216907,1.915760,68.899886,...,104.046992,2016-01-04 05:17:12.980894976,2019-02-05 23:42:11.901464576,94.570362,9.769043,9.502825,9.805568,9.806600,9.639042,9.426748
min,2009-06-20 00:00:00,2008-08-08 00:00:00,0.000000,52.346200,13.109800,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2009-06-20 00:00:00,2011-08-22 00:00:00,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,2016-10-16 00:00:00,2012-11-22 00:00:00,1.000000,52.493510,13.376790,2.000000,1.000000,1.000000,1.000000,37.000000,...,29.000000,2014-09-09 00:00:00,2019-03-22 00:00:00,92.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000
50%,2017-12-22 00:00:00,2014-07-31 00:00:00,1.000000,52.512950,13.411940,2.000000,1.000000,1.000000,1.000000,53.000000,...,76.000000,2016-04-12 00:00:00,2019-04-27 00:00:00,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000
75%,2018-09-24 00:00:00,2016-02-14 00:00:00,1.000000,52.532390,13.433950,4.000000,1.000000,1.000000,2.000000,80.000000,...,150.000000,2017-07-02 00:00:00,2019-05-06 00:00:00,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,2019-05-14 00:00:00,2019-05-09 00:00:00,1.000000,52.641500,13.757640,16.000000,8.500000,10.000000,22.000000,9000.000000,...,545.000000,2019-05-13 00:00:00,2019-05-14 00:00:00,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
std,NaN,NaN,0.122782,0.028840,0.055065,1.931984,0.337643,0.720930,1.528637,81.263807,...,96.564311,NaN,NaN,4.393622,0.473067,0.682015,0.438026,0.442572,0.528236,0.576967

In [83]:
berlin_airbnb_clean['Accommodates'].value_counts(dropna = False)

Accommodates
2     219637
4      82092
3      48034
1      33656
6      27827
5      20063
8       6796
7       4339
10      2700
9       2498
12      1657
11       939
14       934
16       649
15       258
13       104
Name: count, dtype: int64

In [84]:
berlin_airbnb_clean['Bathrooms'].value_counts(dropna = False)

Bathrooms
1.0    394099
2.0     28279
1.5     21615
0.5      3032
3.0      1482
2.5      1366
NaN       936
0.0       656
4.0       278
4.5       186
7.0       108
5.0        74
7.5        26
3.5        25
6.0        16
8.5         3
8.0         2
Name: count, dtype: int64

In [85]:
berlin_airbnb_clean['Bedrooms'].value_counts(dropna = False)

Bedrooms
1.0     328023
2.0      67591
0.0      30138
3.0      19820
4.0       3942
5.0       1353
NaN        709
7.0        232
6.0        219
8.0        145
10.0         7
9.0          4
Name: count, dtype: int64

In [86]:
bedrooms = berlin_airbnb_clean.loc[(berlin_airbnb_clean['Bedrooms'] == 0.0)]
bedrooms

,Review ID,Review Date,Reviewer ID,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,Neighborhood Group,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
29,58658086,2016-01-03,9996400,10008354,26193350,2015-01-16,nan,NaN,False,Neukölln,...,2018-01-24,91.0,9.0,9.0,10.0,10.0,9.0,9.0,True,False
30,65440054,2016-03-13,32308915,10008354,26193350,2015-01-16,nan,NaN,False,Neukölln,...,2018-01-24,91.0,9.0,9.0,10.0,10.0,9.0,9.0,True,False
31,65451319,2016-03-13,31732596,10008354,26193350,2015-01-16,nan,NaN,False,Neukölln,...,2018-01-24,91.0,9.0,9.0,10.0,10.0,9.0,9.0,True,False
32,79423651,2016-06-12,33501096,10008354,26193350,2015-01-16,nan,NaN,False,Neukölln,...,2018-01-24,91.0,9.0,9.0,10.0,10.0,9.0,9.0,True,False
33,110285647,2016-10-25,23868452,10008354,26193350,2015-01-16,nan,NaN,False,Neukölln,...,2018-01-24,91.0,9.0,9.0,10.0,10.0,9.0,9.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455712,157704666,2017-06-04,67946586,9934121,38029953,2015-07-09,nan,NaN,False,Neukölln,...,2018-01-04,97.0,10.0,10.0,10.0,10.0,10.0,9.0,False,False
455713,167212027,2017-07-06,15826978,9934121,38029953,2015-07-09,nan,NaN,False,Neukölln,...,2018-01-04,97.0,10.0,10.0,10.0,10.0,10.0,9.0,False,False
455714,175255326,2017-07-28,14616287,9934121,38029953,2015-07-09,nan,NaN,False,Neukölln,...,2018-01-04,97.0,10.0,10.0,10.0,10.0,10.0,9.0,False,False
455715,224756054,2018-01-04,2664663,9934121,38029953,2015-07-09,nan,NaN,False,Neukölln,...,2018-01-04,97.0,10.0,10.0,10.0,10.0,10.0,9.0,False,False
456099,57173515,2015-12-22,40903139,9964102,13548559,2014-03-26,nan,NaN,False,Friedrichshain-Kreuzberg,...,2015-12-22,20.0,8.0,2.0,4.0,6.0,10.0,4.0,False,False

In [87]:
berlin_airbnb_clean['Beds'].value_counts(dropna = False)

Beds
1.0     250226
2.0     110688
3.0      37283
4.0      23509
5.0      10996
6.0       9704
8.0       3358
7.0       2795
0.0        949
10.0       791
9.0        639
12.0       564
14.0       157
15.0       142
16.0       134
11.0       110
NaN         71
13.0        63
22.0         4
Name: count, dtype: int64

In [88]:
beds = berlin_airbnb_clean.loc[(berlin_airbnb_clean['Beds'] == 0.0)]
beds

,Review ID,Review Date,Reviewer ID,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,Neighborhood Group,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
21488,97424716,2016-08-27,86042281,11409008,3140041,2012-08-02,within a day,1.0,False,Steglitz - Zehlendorf,...,2017-09-17,98.0,10.0,10.0,10.0,10.0,9.0,10.0,False,False
21489,99217144,2016-09-04,83683080,11409008,3140041,2012-08-02,within a day,1.0,False,Steglitz - Zehlendorf,...,2017-09-17,98.0,10.0,10.0,10.0,10.0,9.0,10.0,False,False
21490,101439917,2016-09-13,29485449,11409008,3140041,2012-08-02,within a day,1.0,False,Steglitz - Zehlendorf,...,2017-09-17,98.0,10.0,10.0,10.0,10.0,9.0,10.0,False,False
21491,102527777,2016-09-18,31085994,11409008,3140041,2012-08-02,within a day,1.0,False,Steglitz - Zehlendorf,...,2017-09-17,98.0,10.0,10.0,10.0,10.0,9.0,10.0,False,False
21492,104588498,2016-09-27,53053728,11409008,3140041,2012-08-02,within a day,1.0,False,Steglitz - Zehlendorf,...,2017-09-17,98.0,10.0,10.0,10.0,10.0,9.0,10.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437975,428503471,2019-03-25,1847763,893214,4750426,2013-01-18,within an hour,1.0,False,Mitte,...,2019-04-18,99.0,10.0,10.0,10.0,10.0,10.0,10.0,False,False
437976,431602088,2019-04-01,24021719,893214,4750426,2013-01-18,within an hour,1.0,False,Mitte,...,2019-04-18,99.0,10.0,10.0,10.0,10.0,10.0,10.0,False,False
437977,433853916,2019-04-07,20677596,893214,4750426,2013-01-18,within an hour,1.0,False,Mitte,...,2019-04-18,99.0,10.0,10.0,10.0,10.0,10.0,10.0,False,False
437978,439151603,2019-04-18,65889163,893214,4750426,2013-01-18,within an hour,1.0,False,Mitte,...,2019-04-18,99.0,10.0,10.0,10.0,10.0,10.0,10.0,False,False
450955,444655047,2019-04-28,256750357,9675267,5307516,2013-03-03,within a few hours,1.0,False,Neukölln,...,2019-04-28,100.0,10.0,10.0,8.0,10.0,10.0,10.0,True,False

In [89]:
berlin_airbnb_clean['Min Nights'].value_counts(dropna = False)

Min Nights
2     141229
1     124369
3     107748
4      30353
5      15187
       ...
73         3
80         3
19         2
34         2
87         1
Name: count, Length: 80, dtype: int64

In [90]:
min_nights = berlin_airbnb_clean.loc[(berlin_airbnb_clean['Min Nights'] == 1000)]
pd.set_option('display.max_columns', None)
min_nights

,Review ID,Review Date,Reviewer ID,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,Neighborhood Group,Postal Code,Latitude,Longitude,Is Exact Location,Property Type,Room Type,Accommodates,Bathrooms,Bedrooms,Beds,Price,Guests Included,Min Nights,Reviews,First Review,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
83629,103176330,2016-09-21,92418815,14854190,32742290,2015-05-06,within a few hours,1.00,False,Neukölln,nan,52.48308,13.44408,False,Apartment,Private room,2,1.0,1.0,NaN,25.0,1,1000,4,2016-09-21,2016-10-27,75.0,8.0,8.0,10.0,10.0,9.0,8.0,False,False
83630,104027599,2016-09-25,38638082,14854190,32742290,2015-05-06,within a few hours,1.00,False,Neukölln,nan,52.48308,13.44408,False,Apartment,Private room,2,1.0,1.0,NaN,25.0,1,1000,4,2016-09-21,2016-10-27,75.0,8.0,8.0,10.0,10.0,9.0,8.0,False,False
83631,108187608,2016-10-15,95387654,14854190,32742290,2015-05-06,within a few hours,1.00,False,Neukölln,nan,52.48308,13.44408,False,Apartment,Private room,2,1.0,1.0,NaN,25.0,1,1000,4,2016-09-21,2016-10-27,75.0,8.0,8.0,10.0,10.0,9.0,8.0,False,False
83632,110561436,2016-10-27,94041956,14854190,32742290,2015-05-06,within a few hours,1.00,False,Neukölln,nan,52.48308,13.44408,False,Apartment,Private room,2,1.0,1.0,NaN,25.0,1,1000,4,2016-09-21,2016-10-27,75.0,8.0,8.0,10.0,10.0,9.0,8.0,False,False
116130,138504819,2017-03-20,105605250,16681341,110406088,2017-01-08,nan,NaN,False,Mitte,10115,52.53502,13.37907,True,Apartment,Private room,3,1.0,1.0,1.0,30.0,1,1000,1,2017-03-20,2017-03-20,100.0,10.0,10.0,10.0,10.0,10.0,10.0,False,False
124198,181305542,2017-08-12,127574265,17108610,87442687,2016-08-02,within a few hours,0.99,False,Mitte,10559,52.53475,13.35181,True,Apartment,Entire home/apt,2,1.0,0.0,2.0,33.0,1,1000,6,2017-08-12,2019-04-19,87.0,9.0,10.0,10.0,10.0,8.0,9.0,False,False
124199,218856162,2017-12-15,34686616,17108610,87442687,2016-08-02,within a few hours,0.99,False,Mitte,10559,52.53475,13.35181,True,Apartment,Entire home/apt,2,1.0,0.0,2.0,33.0,1,1000,6,2017-08-12,2019-04-19,87.0,9.0,10.0,10.0,10.0,8.0,9.0,False,False
124200,283672047,2018-06-30,122337331,17108610,87442687,2016-08-02,within a few hours,0.99,False,Mitte,10559,52.53475,13.35181,True,Apartment,Entire home/apt,2,1.0,0.0,2.0,33.0,1,1000,6,2017-08-12,2019-04-19,87.0,9.0,10.0,10.0,10.0,8.0,9.0,False,False
124201,329103816,2018-09-28,85689001,17108610,87442687,2016-08-02,within a few hours,0.99,False,Mitte,10559,52.53475,13.35181,True,Apartment,Entire home/apt,2,1.0,0.0,2.0,33.0,1,1000,6,2017-08-12,2019-04-19,87.0,9.0,10.0,10.0,10.0,8.0,9.0,False,False
124202,419000956,2019-03-03,73177188,17108610,87442687,2016-08-02,within a few hours,0.99,False,Mitte,10559,52.53475,13.35181,True,Apartment,Entire home/apt,2,1.0,0.0,2.0,33.0,1,1000,6,2017-08-12,2019-04-19,87.0,9.0,10.0,10.0,10.0,8.0,9.0,False,False
124203,439586849,2019-04-19,32930446,17108610,87442687,2016-08-02,within a few hours,0.99,False,Mitte,10559,52.53475,13.35181,True,Apartment,Entire home/apt,2,1.0,0.0,2.0,33.0,1,1000,6,2017-08-12,2019-04-19,87.0,9.0,10.0,10.0,10.0,8.0,9.0,False,False
225106,271731338,2018-06-02,79855714,23038462,87442687,2016-08-02,within a few hours,0.99,False,Mitte,10559,52.53409,13.35301,True,Apartment,Entire home/apt,6,1.0,2.0,3.0,60.0,1,1000,3,2018-06-02,2018-08-09,100.0,10.0,10.0,10.0,10.0,9.0,9.0,False,False
225107,281545074,2018-06-25,156849374,23038462,87442687,2016-08-02,within a few hours,0.99,False,Mitte,10559,52.53409,13.35301,True,Apartment,Entire home/apt,6,1.0,2.0,3.0,60.0,1,1000,3,2018-06-02,2018-08-09,100.0,10.0,10.0,10.0,10.0,9.0,9.0,False,False
225108,304276725,2018-08-09,173121003,23038462,87442687,2016-08-02,within a few hours,0.99,False,Mitte,10559,52.53409,13.35301,True,Apartment,Entire home/apt,6,1.0,2.0,3.0,60.0,1,1000,3,2018-06-02,2018-08-09,100.0,10.0,10.0,10.0,10.0,9.0,9.0,False,False
391921,35026233,2015-06-14,32833010,6704144,13498367,2014-03-24,nan,NaN,False,Pankow,10407,52.53485,13.44405,True,Apartment,Private room,1,1.0,1.0,1.0,19.0,1,1000,3,2015-06-14,2015-09-07,93.0,9.0,8.0,9.0,9.0,8.0,9.0,False,False
391922,36468245,2015-06-28,7101536,6704144,13498367,2014-03-24,nan,NaN,False,Pankow,10407,52.53485,13.44405,True,Apartment,Private room,1,1.0,1.0,1.0,19.0,1,1000,3,2015-06-14,2015-09-07,93.0,9.0,8.0,9.0,9.0,8.0,9.0,False,False
391923,46029252,2015-09-07,21807321,6704144,13498367,2014-03-24,nan,NaN,False,Pankow,10407,52.53485,13.44405,True,Apartment,Private room,1,1.0,1.0,1.0,19.0,1,1000,3,2015-06-14,2015-09-07,93.0,9.0,8.0,9.0,9.0,8.0,9.0,False,False

In [91]:
berlin_airbnb_clean['Min Nights'] = berlin_airbnb_clean['Min Nights'].replace(1000, 2).astype(int)

In [92]:
berlin_airbnb_clean['Price'].value_counts(dropna = False)

Price
50.0     20000
35.0     19171
40.0     18661
30.0     17954
45.0     15812
         ...
178.0        1
405.0        1
216.0        1
166.0        1
800.0        1
Name: count, Length: 292, dtype: int64

In [93]:
# Check extreme values in price

berlin_airbnb_clean[berlin_airbnb_clean['Price'] < 8]

,Review ID,Review Date,Reviewer ID,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,Neighborhood Group,Postal Code,Latitude,Longitude,Is Exact Location,Property Type,Room Type,Accommodates,Bathrooms,Bedrooms,Beds,Price,Guests Included,Min Nights,Reviews,First Review,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
154090,151417697,2017-05-12,97114042,18612697,49435601,2015-11-19,within a few hours,1.0,True,Tempelhof - Schöneberg,12277,52.42036,13.36628,False,House,Private room,3,1.5,1.0,1.0,0.0,2,1,33,2017-05-12,2019-04-22,98.0,10.0,9.0,10.0,10.0,9.0,10.0,False,False
154091,151915508,2017-05-14,55431569,18612697,49435601,2015-11-19,within a few hours,1.0,True,Tempelhof - Schöneberg,12277,52.42036,13.36628,False,House,Private room,3,1.5,1.0,1.0,0.0,2,1,33,2017-05-12,2019-04-22,98.0,10.0,9.0,10.0,10.0,9.0,10.0,False,False
154092,158137253,2017-06-05,117750913,18612697,49435601,2015-11-19,within a few hours,1.0,True,Tempelhof - Schöneberg,12277,52.42036,13.36628,False,House,Private room,3,1.5,1.0,1.0,0.0,2,1,33,2017-05-12,2019-04-22,98.0,10.0,9.0,10.0,10.0,9.0,10.0,False,False
154093,160916316,2017-06-16,134076213,18612697,49435601,2015-11-19,within a few hours,1.0,True,Tempelhof - Schöneberg,12277,52.42036,13.36628,False,House,Private room,3,1.5,1.0,1.0,0.0,2,1,33,2017-05-12,2019-04-22,98.0,10.0,9.0,10.0,10.0,9.0,10.0,False,False
154094,162565664,2017-06-21,121754920,18612697,49435601,2015-11-19,within a few hours,1.0,True,Tempelhof - Schöneberg,12277,52.42036,13.36628,False,House,Private room,3,1.5,1.0,1.0,0.0,2,1,33,2017-05-12,2019-04-22,98.0,10.0,9.0,10.0,10.0,9.0,10.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221869,444541736,2019-04-28,239812371,22739713,167202681,2018-01-11,within an hour,1.0,False,Mitte,10557,52.52564,13.36718,False,Apartment,Private room,2,1.0,1.0,2.0,1.0,1,1,144,2018-02-01,2019-05-12,90.0,10.0,8.0,10.0,9.0,10.0,9.0,True,False
221870,447865411,2019-05-04,239176512,22739713,167202681,2018-01-11,within an hour,1.0,False,Mitte,10557,52.52564,13.36718,False,Apartment,Private room,2,1.0,1.0,2.0,1.0,1,1,144,2018-02-01,2019-05-12,90.0,10.0,8.0,10.0,9.0,10.0,9.0,True,False
221871,450094808,2019-05-08,2582800,22739713,167202681,2018-01-11,within an hour,1.0,False,Mitte,10557,52.52564,13.36718,False,Apartment,Private room,2,1.0,1.0,2.0,1.0,1,1,144,2018-02-01,2019-05-12,90.0,10.0,8.0,10.0,9.0,10.0,9.0,True,False
221872,450328511,2019-05-09,140955031,22739713,167202681,2018-01-11,within an hour,1.0,False,Mitte,10557,52.52564,13.36718,False,Apartment,Private room,2,1.0,1.0,2.0,1.0,1,1,144,2018-02-01,2019-05-12,90.0,10.0,8.0,10.0,9.0,10.0,9.0,True,False
221873,451652907,2019-05-12,5935622,22739713,167202681,2018-01-11,within an hour,1.0,False,Mitte,10557,52.52564,13.36718,False,Apartment,Private room,2,1.0,1.0,2.0,1.0,1,1,144,2018-02-01,2019-05-12,90.0,10.0,8.0,10.0,9.0,10.0,9.0,True,False

In [94]:
berlin_airbnb_clean[berlin_airbnb_clean['Price'] > 1000]

,Review ID,Review Date,Reviewer ID,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,Neighborhood Group,Postal Code,Latitude,Longitude,Is Exact Location,Property Type,Room Type,Accommodates,Bathrooms,Bedrooms,Beds,Price,Guests Included,Min Nights,Reviews,First Review,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
72362,98825080,2016-09-02,1818920,14201780,86166545,2016-07-26,nan,NaN,False,Lichtenberg,10317,52.50398,13.48594,True,Apartment,Private room,2,1.0,1.0,1.0,5000.0,1,9,1,2016-09-02,2016-09-02,100.0,6.0,8.0,10.0,10.0,6.0,10.0,False,False
177139,193146491,2017-09-12,25227574,19961235,102979040,2016-11-08,within an hour,1.0,True,Mitte,10178,52.52187,13.39967,True,Serviced apartment,Entire home/apt,6,3.5,3.0,3.0,1739.0,4,2,6,2017-09-12,2018-10-29,100.0,10.0,10.0,10.0,10.0,10.0,9.0,True,False
177140,194546383,2017-09-17,78951783,19961235,102979040,2016-11-08,within an hour,1.0,True,Mitte,10178,52.52187,13.39967,True,Serviced apartment,Entire home/apt,6,3.5,3.0,3.0,1739.0,4,2,6,2017-09-12,2018-10-29,100.0,10.0,10.0,10.0,10.0,10.0,9.0,True,False
177141,201330256,2017-10-08,31888662,19961235,102979040,2016-11-08,within an hour,1.0,True,Mitte,10178,52.52187,13.39967,True,Serviced apartment,Entire home/apt,6,3.5,3.0,3.0,1739.0,4,2,6,2017-09-12,2018-10-29,100.0,10.0,10.0,10.0,10.0,10.0,9.0,True,False
177142,219640056,2017-12-18,118230026,19961235,102979040,2016-11-08,within an hour,1.0,True,Mitte,10178,52.52187,13.39967,True,Serviced apartment,Entire home/apt,6,3.5,3.0,3.0,1739.0,4,2,6,2017-09-12,2018-10-29,100.0,10.0,10.0,10.0,10.0,10.0,9.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422701,149276770,2017-05-03,30257784,810056,4259960,2012-11-27,within a few hours,1.0,False,Pankow,10435,52.54012,13.42193,True,Apartment,Private room,2,0.5,1.0,1.0,2228.0,1,1,53,2012-12-26,2018-01-15,95.0,9.0,9.0,10.0,10.0,10.0,10.0,False,False
422702,175405726,2017-07-29,110313347,810056,4259960,2012-11-27,within a few hours,1.0,False,Pankow,10435,52.54012,13.42193,True,Apartment,Private room,2,0.5,1.0,1.0,2228.0,1,1,53,2012-12-26,2018-01-15,95.0,9.0,9.0,10.0,10.0,10.0,10.0,False,False
422703,226767445,2018-01-12,47499744,810056,4259960,2012-11-27,within a few hours,1.0,False,Pankow,10435,52.54012,13.42193,True,Apartment,Private room,2,0.5,1.0,1.0,2228.0,1,1,53,2012-12-26,2018-01-15,95.0,9.0,9.0,10.0,10.0,10.0,10.0,False,False
422704,227567214,2018-01-15,29699416,810056,4259960,2012-11-27,within a few hours,1.0,False,Pankow,10435,52.54012,13.42193,True,Apartment,Private room,2,0.5,1.0,1.0,2228.0,1,1,53,2012-12-26,2018-01-15,95.0,9.0,9.0,10.0,10.0,10.0,10.0,False,False
450790,58364681,2016-01-02,43942345,9651871,49896804,NaT,nan,NaN,True,Charlottenburg-Wilm.,10777,52.49798,13.33444,True,Apartment,Entire home/apt,4,1.0,1.0,2.0,9000.0,1,100,1,2016-01-02,2016-01-02,40.0,2.0,2.0,10.0,10.0,10.0,4.0,False,False

In [95]:
# Investigating the listing with higher price
max_price = berlin_airbnb_clean.loc[(berlin_airbnb_clean['Price'] == 9000.00)]
pd.set_option('display.max_columns', None)
max_price

,Review ID,Review Date,Reviewer ID,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,Neighborhood Group,Postal Code,Latitude,Longitude,Is Exact Location,Property Type,Room Type,Accommodates,Bathrooms,Bedrooms,Beds,Price,Guests Included,Min Nights,Reviews,First Review,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
450790,58364681,2016-01-02,43942345,9651871,49896804,NaT,nan,NaN,True,Charlottenburg-Wilm.,10777,52.49798,13.33444,True,Apartment,Entire home/apt,4,1.0,1.0,2.0,9000.0,1,100,1,2016-01-02,2016-01-02,40.0,2.0,2.0,10.0,10.0,10.0,4.0,False,False

In [96]:
filtered_comments = berlin_airbnb_comments[berlin_airbnb_comments['Listing ID'] == '9651871']
pd.options.display.max_colwidth = None
filtered_comments

,Review ID,Review Date,Comments,Listing ID,Host ID
450790,58364681,2016-01-02,"Nous avons dÃ©jÃ expliquÃ© directement Ã David ce qui n'allait pas. Son appartement est trÃ¨s poussiÃ©reux et trÃ¨s mal rangÃ© ni rangeable. Il n'est pas en Ã©tat d'Ãªtre louÃ©. La cuisine n'est pas utilisable, tous les instruments sont sales, collants",9651871,49896804

In [97]:
max_price2 = berlin_airbnb_clean.loc[(berlin_airbnb_clean['Price'] == 6000.00)]
pd.set_option('display.max_columns', None)
max_price2

,Review ID,Review Date,Reviewer ID,Listing ID,Host ID,Host Since,Host Response Time,Host Response Rate,Is Superhost,Neighborhood Group,Postal Code,Latitude,Longitude,Is Exact Location,Property Type,Room Type,Accommodates,Bathrooms,Bedrooms,Beds,Price,Guests Included,Min Nights,Reviews,First Review,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
257766,289799210,2018-07-13,201739074,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257767,300422699,2018-08-02,29236509,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257768,301472640,2018-08-04,13653384,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257769,308963449,2018-08-17,206365372,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257770,315294904,2018-08-28,172963933,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257771,332487981,2018-10-05,36456206,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257772,413160458,2019-02-17,60185513,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257773,426211111,2019-03-20,241293862,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257774,426505647,2019-03-21,249834475,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257775,427880824,2019-03-24,22894127,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257776,428931258,2019-03-26,81740623,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257777,440886265,2019-04-21,40497494,25757977,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48998,13.33085,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,12,2018-07-13,2019-04-21,90.0,9.0,10.0,10.0,9.0,10.0,10.0,True,False
257778,302111926,2018-08-05,148045160,25759146,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.49006,13.33171,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,1,2018-08-05,2018-08-05,100.0,10.0,10.0,10.0,10.0,10.0,10.0,True,False
258424,317352509,2018-09-02,212002530,25803218,187655517,2018-05-03,within an hour,1.0,False,Charlottenburg-Wilm.,10717,52.48922,13.33131,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,1,2018-09-02,2018-09-02,80.0,10.0,8.0,10.0,8.0,10.0,8.0,True,False
262595,313929913,2018-08-26,93575925,26187278,98159395,2016-10-05,within an hour,1.0,False,Tempelhof - Schöneberg,10789,52.49851,13.34073,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,4,2018-08-26,2019-04-04,75.0,10.0,8.0,10.0,10.0,10.0,10.0,True,False
262596,324915109,2018-09-18,77169293,26187278,98159395,2016-10-05,within an hour,1.0,False,Tempelhof - Schöneberg,10789,52.49851,13.34073,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,4,2018-08-26,2019-04-04,75.0,10.0,8.0,10.0,10.0,10.0,10.0,True,False
262597,351043937,2018-11-21,224654001,26187278,98159395,2016-10-05,within an hour,1.0,False,Tempelhof - Schöneberg,10789,52.49851,13.34073,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,4,2018-08-26,2019-04-04,75.0,10.0,8.0,10.0,10.0,10.0,10.0,True,False
262598,432534352,2019-04-04,247449620,26187278,98159395,2016-10-05,within an hour,1.0,False,Tempelhof - Schöneberg,10789,52.49851,13.34073,False,Hotel,Private room,2,1.0,1.0,1.0,6000.0,2,1,4,2018-08-26,2019-04-04,75.0,10.0,8.0,10.0,10.0,10.0,10.0,True,False

In [98]:
filtered_comments2 = berlin_airbnb_comments[berlin_airbnb_comments['Listing ID'] == '25757977']
pd.options.display.max_colwidth = None
filtered_comments2

,Review ID,Review Date,Comments,Listing ID,Host ID
257766,289799210,2018-07-13,Keine.,25757977,187655517
257767,300422699,2018-08-02,"This was a very nice hotel with nice amenities. The staff was very nice and helpful. The room we stayed in had very weak air conditioning and the room actually got warmer throughout the night. I don't know if every room has poor AC, however the hotel sta",25757977,187655517
257768,301472640,2018-08-04,"Good hotel experience â clean, easy check-in, friendly, delightful branding (âhetero-friendlyâ in the gay district), everyone working there seems to be a stylish young guy (reception, room service, servers at the hotel restaurant). AC and elevator",25757977,187655517
257769,308963449,2018-08-17,"ultra modern! so high tech, I had to keep checking what year it was. making sure I didn't get drunk, pass out, and wake up 500 years in the future!",25757977,187655517
257770,315294904,2018-08-28,Clean room,25757977,187655517
257771,332487981,2018-10-05,"Excellent value, very clean, lovely receptionists, casual atmosphere, great location, smart spa",25757977,187655517
257772,413160458,2019-02-17,"Really nice, clean and modern rooms and breakfast area on roof top.",25757977,187655517
257773,426211111,2019-03-20,"Sehr schÃ¶nes Zimmer mit einem Bett in dem man hervorragend schlÃ¤ft. FÃ¼r mich gab es nur die Dusche zu bemÃ¤ngeln, denn nach dem Duschvorgang ""schwamm"" das ganze Bad. Aber ich wÃ¼rde auf jeden Fall wiederkommen.",25757977,187655517
257774,426505647,2019-03-21,"Good rooms, courteous staff, brilliant location",25757977,187655517
257775,427880824,2019-03-24,Das TWO Hotel Berlin by Axel ist ein sehr schÃ¶nes Hotel. Alle waren sehr freundlich und haben uns herzlich begrÃ¼Ãt. Besonders toll ist die Dachterasse die man beim tollen Wetter nutzen kann. Wir kÃ¶nnen das Hotel sehr empfehlen.,25757977,187655517
257776,428931258,2019-03-26,TrÃ¨s bien en tout point,25757977,187655517
257777,440886265,2019-04-21,The place is very good to stay at. Very cozy.,25757977,187655517

In [99]:
# Cleaning extreme values in Price Column

sub_berlin = berlin_airbnb_clean[(berlin_airbnb_clean['Price'] > 8) & (berlin_airbnb_clean['Price'] < 1000)]

In [100]:
sub_berlin.shape

(451600, 35)

In [101]:
sub_berlin.describe()

,Review Date,Host Since,Host Response Rate,Latitude,Longitude,Accommodates,Bathrooms,Bedrooms,Beds,Price,Guests Included,Min Nights,Reviews,First Review,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating
count,451600,451565,396117.000000,451600.000000,451600.000000,451600.000000,450664.000000,450891.000000,451529.000000,451600.000000,451600.000000,451600.000000,451600.000000,451600,451600,451600.000000,451600.000000,451600.000000,451600.000000,451600.000000,451600.000000,451600.000000
mean,2017-08-18 15:49:52.432241152,2014-07-20 21:27:40.712411136,0.959052,52.512492,13.403453,3.108908,1.098890,1.216988,1.916034,67.729783,1.575031,4.857507,104.094048,2016-01-03 18:24:45.980514048,2019-02-06 03:57:10.554472960,94.571643,9.769285,9.503403,9.805512,9.806891,9.638959,9.426794
min,2009-06-20 00:00:00,2008-08-08 00:00:00,0.000000,52.346200,13.109800,1.000000,0.000000,0.000000,0.000000,9.000000,1.000000,1.000000,1.000000,2009-06-20 00:00:00,2011-08-22 00:00:00,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,2016-10-16 00:00:00,2012-11-21 00:00:00,1.000000,52.493490,13.376790,2.000000,1.000000,1.000000,1.000000,37.000000,1.000000,1.000000,29.000000,2014-09-08 00:00:00,2019-03-22 00:00:00,92.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000
50%,2017-12-22 00:00:00,2014-07-31 00:00:00,1.000000,52.512950,13.411980,2.000000,1.000000,1.000000,1.000000,53.000000,1.000000,2.000000,76.000000,2016-04-11 00:00:00,2019-04-27 00:00:00,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000
75%,2018-09-24 00:00:00,2016-02-14 00:00:00,1.000000,52.532390,13.433980,4.000000,1.000000,1.000000,2.000000,80.000000,2.000000,3.000000,150.000000,2017-07-01 00:00:00,2019-05-06 00:00:00,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,2019-05-14 00:00:00,2019-05-09 00:00:00,1.000000,52.641500,13.757640,16.000000,8.500000,10.000000,22.000000,888.000000,16.000000,400.000000,545.000000,2019-05-13 00:00:00,2019-05-14 00:00:00,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
std,NaN,NaN,0.122854,0.028841,0.055083,1.929115,0.337301,0.720793,1.528165,51.193589,1.076947,14.689964,96.601545,NaN,NaN,4.392686,0.472805,0.681638,0.438112,0.442424,0.528179,0.576964

## Exporting the data sets

In [103]:
sub_berlin.to_csv(os.path.join(path, 'Prepared', 'airbnb_berlin_clean.csv'), index = False)

In [104]:
berlin_airbnb_comments.to_csv(os.path.join(path, 'Prepared', 'airbnb_berlin_comments.csv'),index = False)